<div>
  <h1>{{title}}</h1>
  <ul>
    {{#each products}}
      <li>
        <strong>{{title}}</strong>
        - ${{price}}<br />
        Descripción:
        {{sdescription}}<br />
        Código:
        {{code}}<br />
        Stock:
        {{stock}}<br />
        Categoría:
        {{category}}
      </li>
    {{/each}}
  </ul>
</div>

{{! <script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> }}